# VSCode
.cache/
compile_commands.json
.vscode/

# Tests
Test/*.py
*.cmm
*.output
Test/lab1/
Test/lab2/
Test/lab3/
simulator/
Code/gen-cfg

# Submit
201250101.zip
report.pdf

# Binary
parser
.gdbinit
.clang-format
tags
lex.yy.c
syntax.tab.h
syntax.tab.c

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
